    @font-face {
        font-family: 'DIN Next LT Pro';
        src: local('DIN Next LT Pro Next Rounded LT Pro Bold'), local('DIN-Next-LT-Pro-Next-Rounded-LT-Pro-Bold'), url('DINNextRoundedLTPro-Bold.woff2') format('woff2'), url('DINNextRoundedLTPro-Bold.woff') format('woff'), url('DINNextRoundedLTPro-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    body {
        background: #f2f9fd;
    }
    
    .container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        transition: 1s linear;
    }
    
    .header-container {
        width: 1200px;
        height: 90px;
        background: #fff;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        transition: 0.5s linear;
    }
    
    .header-container-footwear {
        background: none;
    }
    
    .header-text {
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 20px;
        color: black;
        cursor: pointer;
        letter-spacing: 0.5px;
        margin-left: 20px;
    }
    
    .header-container__right {
        display: flex;
        justify-content: space-around;
        width: auto;
        height: 90px;
        margin-left: 10px;
        /* width: 510px; */
        /* position: relative;
    top: 50%;
    margin-top: -45px; */
    }
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        /* width: 420px; */
        height: 90px;
        line-height: 90px;
    }
    
    .header-logo {
        position: relative;
        height: 50px;
        top: 50%;
        margin-top: -25px;
    }
    
    .header-container__left {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin-right: 15px;
        align-items: center;
        /* height: 20px;
    position: relative;
    top: 50%;
    margin-top: -10px; */
    }
    
    .header-cart,
    .header-search,
    .header-sign {
        width: 90px;
        height: 20px;
        transition: .5s ease;
    }
    
    .header-img {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 50%;
        margin-top: -10px;
        fill: #666;
    }
    
    .header-text-decor {
        color: black;
    }
    
    .cartCounter {
        color: #0089cf;
    }
    
    .header-text-decor:hover {
        border-bottom: 3px solid transparent;
        border-color: #0089cf;
        color: #0089cf;
        transition: 0.1s;
    }
    /* .header-text:hover,
.header-img:hover {
    color: #0089cf;
    fill: #0089cf;
    transition: 0.1s;
} */
    
    .footwear-container {
        background: white;
        height: 610px;
        width: 100%;
    }
    
    .footwear-img {
        float: left;
        width: 70%;
        height: 610px;
    }
    
    .img-foot {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 50%;
        margin-top: -148px;
    }
    
    .footwear-like {
        width: 50px;
        height: 50px;
        color: #e4e4e4;
        background: #FFF;
        border: 1px solid;
        cursor: pointer;
        margin-top: 50px;
    }
    
    .like-white {
        width: 25px;
        height: 20px;
        fill: white;
        stroke: #666;
        stroke-width: 12px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 50%;
        margin-top: -32px;
        transition: 0.1s
    }
    
    .fill-red {
        fill: red;
    }
    
    .fill-none {
        fill: white;
    }
    
    .like-white:hover {
        fill: red;
        stroke-width: 1px;
        stroke: red;
    }
    
    .footwear-text {
        font-family: 'Bebas';
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-top: 40px;
    }
    
    .footwear-description {
        width: 30%;
        float: left;
        height: 610px;
    }
    
    .footwear-name {
        margin-top: 15px;
        font-size: 35px;
    }
    
    .footwear-price {
        color: #666666;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }
    
    .footwear-color {
        font-size: 16px;
        margin-top: 20px;
    }
    
    .header-search:hover>*,
    .header-cart:hover>*,
    .header-sign:hover>* {
        color: #0089cf;
        fill: #0089cf;
    }
    
    .header-cart {
        width: 100px;
    }
    
    .footwear-buy {
        font-family: 'Bebas';
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    
    .text-size {
        font-size: 18px;
        font-weight: 500;
        color: #666;
        margin: 10px 0;
    }
    
    .footwear-model {
        margin-top: 10px;
    }
    
    .model-img {
        cursor: pointer;
    }
    
    .select-size {
        position: relative;
        border: 1px #666 solid;
        height: 50px;
        width: 120px;
        float: left;
        font-size: 18px;
        font-weight: 500;
        color: #666;
        fill: #666;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .menu-item {
        display: none;
        position: absolute;
        top: 48px;
        z-index: 1;
    }
    
    .sub-menu {
        width: 120px;
        height: 52px;
        text-align: center;
        border: 1px #666 solid;
        border-bottom: 0;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: white;
        color: #666;
        cursor: pointer;
    }
    
    .country-sub-menu,
    .sub-menu-delivery {
        width: 258px;
    }
    
    .sub-menu:hover {
        color: #e4e4e4;
        background: #666;
        transition: 0.3s;
    }
    
    .sub-menu:last-child {
        border-bottom: 1px #666 solid;
    }
    
    .arrow-size {
        width: 10px;
        margin-left: 5px;
    }
    
    .btn-buy {
        border: 1px #333 solid;
        background: #333;
        height: 50px;
        width: 120px;
        float: left;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .classic {
        height: 660px;
        width: 100%;
    }
    
    .classic-container {
        height: 100%;
        background-image: url(../img/bg-cross.png);
        display: flex;
        align-items: center;
        background-size: cover;
    }
    
    .classic-container-text {
        width: 390px;
        height: 150px;
        color: #fff;
        margin-left: 50px;
    }
    
    .classic-title {
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    
    .classic-text {
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
    }
    
    .story-container {
        background-image: url(../img/cross-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        font-family: 'Bebas';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding: 0 40px;
        height: 660px;
        background-color: #f5f5f5;
    }
    
    .story-container-title,
    .story-container-benefits {
        width: 380px;
    }
    
    .story-container-left {
        float: left;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .story-title {
        font-size: 25px;
    }
    
    .story-story,
    .benefits {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }
    
    .story-title-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        color: #666;
        margin-top: 30px;
    }
    
    .benefits-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        color: #666;
        margin-bottom: 20px;
    }
    
    .story-container-order {
        width: 280px;
        height: 420px;
        float: right;
        border: 4px #e4e4e4 solid;
        padding: 0 10px;
        position: relative;
        top: 50%;
        margin-top: -210px;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        background: #fff;
    }
    
    .story-order-img {
        width: 260px;
    }
    
    .story-order-title {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .story-order-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        color: #666;
        margin: 10px 0;
    }
    
    .story-order-color {
        font-size: 16px;
        color: #0089cf;
    }
    
    .story-order-img {
        margin: 40px 0;
    }
    
    .story-order-price {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        width: 250px;
        margin-bottom: 20px;
    }
    
    .social {
        width: 100%;
        height: 100%;
    }
    
    .social-container {
        height: 660px;
        padding: 0 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-social {
        font-family: 'Bebas';
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #666;
    }
    
    .social-tag {
        font-family: 'Bebas';
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #000;
    }
    
    .social-img {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 90%;
        align-items: center;
    }
    
    .img-social {
        width: 250px;
        height: 250px;
    }
    
    .container-social {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer {
        width: 100%;
        background: #000;
    }
    
    .footer-container {
        height: 260px;
        background: #000;
        padding: 40px 50px;
        position: relative;
    }
    
    .footer-item {
        font-family: 'Bebas';
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.2px;
        color: #666;
    }
    
    .footer-copyright {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 0.5px;
        position: absolute;
        top: 70%;
        left: 35%;
        color: #666;
    }
    
    .footer-containet-left {
        width: 560px;
        height: 130px;
        float: left;
        display: flex;
        justify-content: space-between;
    }
    
    .item-text {
        margin-bottom: 10px;
    }
    
    .socials-icon {
        fill: #666;
        border: 1px #666 solid;
        padding: 10px;
    }
    
    .suscribe-mail {
        fill: #666;
    }
    
    .footer-container-right {
        color: #666;
        float: right;
        top: 50%;
        width: 300px;
    }
    
    #youtube {
        padding: 5px 7.5px;
    }
    
    .footer-socials {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .footer-suscribe {
        display: flex;
        height: 40px;
        align-items: center;
        border-bottom: 2px solid transparent;
        border-color: #252626;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    
    .suscribe-mail {
        margin-right: 15px;
        fill: #252626;
    }
    
    .subsection-img {
        fill: none;
        stroke: #ff0;
        stroke-linecap: round;
        stroke-width: 10px;
        fill-rule: evenodd;
        position: absolute;
    }
    
    .subsection-title {
        position: relative;
        font-size: 40px;
        z-index: 1;
        text-align: center;
        font-family: 'Bebas';
        font-weight: 700;
        letter-spacing: 4px;
        color: #333333;
    }
    
    .subsection-container-logo {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subsection-container {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subsection-container-quantity {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #0089cf;
    }
    
    .subsection-container-pop {
        float: right;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        padding: 0 10px;
    }
    
    .container-pop {
        width: 33%;
    }
    
    .container-pop:last-child {
        text-align: end;
    }
    
    .product-block {
        width: 280px;
        height: 430px;
        background: #fff;
        font-family: 'Bebas';
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 20px;
        display: block;
        cursor: pointer;
        transition: .5s ease;
    }
    
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    
    .product-block:nth-child(2) {
        width: 580px;
    }
    
    .product-block:nth-child(4) {
        width: 580px;
    }
    
    .product-block:last-child {
        width: 580px;
    }
    
    .product-block-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        text-align: center;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* top: 50%;
    margin-top: -150px; */
    }
    
    .cross-product {
        width: 250px;
    }
    
    .text-product,
    .description-product {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #666666;
        margin-bottom: 15px;
    }
    
    .title-product {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .cross-product:nth-child(2) {
        width: auto;
    }
    /* .product-block-container:nth-child(1) {
    width: auto;
    top: 35%;
} */
    
    a,
    a:active {
        text-decoration: none;
        color: #333;
    }
    
    .product-block:hover,
    .product-block-search:hover {
        box-shadow: 0px 0px 20px 3px #999;
    }
    
    .product-block:nth-child(2) .product-block-container {
        width: auto;
    }
    
    .product-block:nth-child(2) .cross-product {
        width: auto;
    }
    
    .description-product {
        font-size: 12px;
        text-align: left;
    }
    
    .product-block:nth-child(12) {
        background: url(../img/cross-product12.png);
        background-size: cover;
        cursor: auto;
    }
    
    .nohover:hover {
        box-shadow: none;
    }
    
    .product-block:nth-child(4) .product-block-container,
    .product-block:nth-child(13) .product-block-container {
        width: 100%;
        height: 222px;
        position: relative;
        top: 50%;
        margin-top: -111px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .product-block:nth-child(4) .product-block_left,
    .product-block:nth-child(13) .product-block_left {
        float: left;
        width: 45%;
    }
    
    .product-block:nth-child(4) .product-block_right,
    .product-block:nth-child(13) .product-block_right {
        float: left;
        width: 45%;
        text-align: left;
    }
    
    .product-block_bottom {
        margin: 40px 0;
    }
    
    .product-block:nth-child(12) .product-block-container {
        display: block;
        height: 150px;
    }
    
    .product-block:nth-child(12) .title-product {
        font-weight: 400;
        color: #fff;
        margin-top: 30px;
    }
    
    .product-block:nth-child(12) .text-product {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
    }
    
    .section-search {
        height: auto;
    }
    
    .section-container-search {
        height: 65px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid transparent;
        border-color: #2222;
        margin: 0 10px;
    }
    
    #search-input {
        height: 100%;
        width: 100%;
        border: none;
        background: none;
        outline: none;
        font-family: 'Bebas';
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #0089cf;
    }
    
    #search-input::-webkit-input-placeholder {
        font-size: 45px;
        font-weight: 600;
    }
    
    .classic {
        filter: blur(0px);
        z-index: -1;
        position: relative;
    }
    
    #search-input::-moz-placeholder {
        font-size: 45px;
        font-weight: 600;
    }
    
    #search-input:-moz-placeholder {
        font-size: 45px;
        font-weight: 600;
    }
    
    #search-input:-ms-input-placeholder {
        font-size: 45px;
        font-weight: 600;
    }
    
    .search-img {
        width: 35px;
        height: 35px;
        position: relative;
        top: 50%;
        margin-top: -20px;
        fill: rgb(113 113 113);
    }
    
    .section-category {
        height: 55px;
        font-family: 'Bebas';
        font-size: 16px;
        font-weight: 600;
        color: #333;
    }
    
    .category-container {
        display: flex;
        align-items: center;
        position: relative;
        left: 10px;
    }
    
    .product-block-search {
        width: 280px;
        height: 430px;
        background: #fff;
        font-family: 'Bebas';
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 20px;
        display: block;
        cursor: pointer;
        transition: .5s ease;
    }
    
    .category-quantity {
        color: #0089cf;
    }
    
    .active {
        border: 1px solid #0089cf;
    }
    
    .popup {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }
    
    .cross {
        position: fixed;
        top: 1.6%;
        right: 3%;
        display: none;
        transition: 2s cubic-bezier(.68, -0.55, .27, 1.55);
    }
    
    .fa-times {
        font-size: 35px;
    }
    
    .popup-container {
        width: 580px;
        float: right;
        background: white;
        height: 100vh;
    }
    
    .popup-information {
        padding: 15px;
        height: 54vh;
        width: 100%;
    }
    
    .information-inp {
        padding: 0;
        border: 0;
        border-bottom: 1px rgb(148, 148, 148) solid;
        color: #666;
        width: 49%;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
        outline: none;
        /* margin-right: 15px;
        margin-top: 10px; */
    }
    
    .one-inp .information-inp {
        width: 100%;
    }
    
    .inp-title {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    
    .width-inp {
        width: 500px;
    }
    
    .information-inp:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
    
    .menu-align {
        position: relative;
        top: 20%;
        height: 20px;
    }
    
    .informarion {
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 40px;
        color: black;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    
    .information-title {
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
    }
    
    .two-inp {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    
    .notes-title {
        margin-top: 20px;
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 20px;
        color: black;
    }
    
    .note {
        padding: 0;
        border: 0;
        border-bottom: 1px rgb(148, 148, 148) solid;
        color: #666;
        width: 100%;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
        outline: none;
    }
    
    .delivery-title {
        margin-top: 20px;
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 20px;
        color: black;
    }
    
    .delivery-menu {
        padding: 0;
        border: 0;
        border-bottom: 1px rgb(148, 148, 148) solid;
        color: #666;
        width: 49%;
        height: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
        outline: none;
        margin-right: 15px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .ucart {
        border-bottom: 1px #777 solid;
        padding: 15px 0;
        width: 100%;
    }
    
    .popup-cart-container {
        height: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #333 #f2f9fd;
    }
    
    .popup-cart-container::-webkit-scrollbar {
        width: 3px;
    }
    
    .popup-cart-container::-webkit-scrollbar-track {
        background-color: #f2f9fd;
    }
    
    .popup-cart-container::-webkit-scrollbar-thumb {
        background-color: #333;
    }
    
    .popup-cart {
        padding: 15px;
        background: #f2f9fd;
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 20px;
        color: black;
        letter-spacing: 0.5px;
        height: 46vh;
        overflow-y: scroll;
        width: 100%;
    }
    
    .product-cart {
        margin-right: 18px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: start;
    }
    
    .count-prod {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        cursor: pointer;
        align-items: center;
    }
    
    .product-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
    }
    
    .size-num {
        background: #7776;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .shipping,
    .subtotal {
        position: relative;
        float: right;
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    
    .text-none {
        position: relative;
        top: 20px;
        display: none;
    }
    
    .privacy {
        width: 240px;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 7%;
    }
    
    .check-privacy {
        margin: 0;
    }
    
    .confirm {
        border: 1px #333 solid;
        background: #333;
        height: 50px;
        width: 180px;
        font-size: 18px;
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        float: right;
        position: relative;
        top: 8%;
        margin-right: 17px;
        font-family: 'Bebas';
        font-weight: 700;
        letter-spacing: 1px;
    }
    .buy2{
        margin: 0;
        width: 250px;
    }
    .popup-menu-country {
        position: absolute;
        z-index: 100;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        top: 142px;
    }
    
    .popup-menu-delivery {
        position: absolute;
        z-index: 100;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        top: 477px;
    }
    
    .popup-sub-menu {
        width: 240px;
        height: 45px;
    }
    
    .plus:hover,
    .minus:hover {
        color: #888;
        transition: 0.7;
    }
    
    .cart-items {
        height: 115px;
        width: 97%;
        border-bottom: 1px #333 solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .popup-information {
        height: 54vh;
    }
    
    .count-prod {
        width: 10px;
    }
    
    .ship-pay {
        height: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        padding: 0px 17px;
    }
    
    .burger {
        display: none;
    }
    /* burger menu */
    
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .menu-icon {
        position: fixed;
        top: 9%;
        right: 2%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
    }
    
    .menu-icon .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background-color: #333;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        -moz-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        -o-transition: margin 0.4s ease 0.4s, width 0.4s ease;
        transition: margin 0.4s ease 0.4s, width 0.4s ease;
    }
    
    .menu-icon .dot:nth-of-type(1) {
        margin-top: -10px;
        margin-left: -10px;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .menu-icon .dot:nth-of-type(2) {
        margin-top: -10px;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        -o-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .menu-icon .dot:nth-of-type(3) {
        margin-top: -10px;
        margin-left: 10px;
    }
    
    .menu-icon .dot:nth-of-type(4) {
        margin-left: -10px;
    }
    
    .menu-icon .dot:nth-of-type(6) {
        margin-left: 10px;
    }
    
    .menu-icon .dot:nth-of-type(7) {
        margin-top: 10px;
        margin-left: -10px;
    }
    
    .menu-icon .dot:nth-of-type(8) {
        margin-top: 10px;
    }
    
    .menu-icon .dot:nth-of-type(9) {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .menu-icon.clicked .dot {
        -webkit-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        -moz-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        -o-transition: margin 0.4s ease, width 0.4s ease 0.4s;
        transition: margin 0.4s ease, width 0.4s ease 0.4s;
        margin-left: 0;
        margin-top: 0;
    }
    
    .menu-icon.clicked .dot:nth-of-type(1) {
        width: 35px;
    }
    
    .menu-icon.clicked .dot:nth-of-type(2) {
        width: 35px;
    }
    
    .burger-points {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 15%;
        align-items: center;
    }
    
    .b-point {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Bebas';
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.5;
        cursor: pointer;
        transition: 0.5s ease;
    }
    
    .b-point:hover {
        color: #0089cf !important;
    }
    
    .b-point .header-text {
        margin: 0;
    }
    
    .header,
    .footwear,
    .classic,
    .story,
    .social,
    .footer,
    .subsection,
    .product,
    .section-search,
    .product,
    .section-category {
        transition: 1s linear;
    }
    
    .menu-icon {
        display: none;
    }
    /* end burger */
    
    .adFootwear-text {
        display: none;
        font-family: 'Bebas';
    }
    
    .menu-icon-click {
        top: 5%;
        right: -1%;
        background: none !important;
        box-shadow: none !important;
    }
    
    .icon-search {
        color: #0089cf;
    }
    
    .fixed {
        position: fixed;
        top: 4%;
        background: #dbdbdb;
        box-shadow: 0px 0px 20px 3px #bbb;
        border-radius: 30px;
    }
    
    form {
        width: 100%;
    }
    
    .width992 {
        display: none;
    }
    
    @media (max-width: 1240px) {
        .container {
            width: 960px;
        }
        .header-container {
            width: 100%;
        }
        .footer-containet-left {
            width: 50%;
            height: 70%;
        }
        .footer-container-right {
            width: 40%
        }
        .container-social {
            height: 90%;
        }
    }
    
    @media (max-width: 992px) {
        .container,
        .img-foot {
            width: 90%;
        }
        .footwear-img {
            width: 60%;
        }
        .footwear-description {
            width: 40%;
        }
        .classic {
            height: 500px;
        }
        .story-container-order {
            display: none;
        }
        .story-container {
            height: 500px;
            background-position: 128px;
        }
        .story-container-left {
            height: 100%;
        }
        .story-container-title,
        .story-container-benefits {
            width: 344px;
        }
        .story-title-text {
            margin-top: 15px;
        }
        .container-social {
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 99%;
        }
        .social-img {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 82%;
            align-content: space-between;
        }
        .social-tag,
        .social-social {
            margin-left: 37px;
        }
        .social-tag {
            margin-bottom: 30px;
        }
        .footer-containet-left {
            width: 50%;
            height: 70%;
        }
        .footer-container-right {
            width: 30%
        }
        .footer-suscribe {
            font-size: 10px;
        }
        .footer-item {
            font-size: 12px;
        }
        .footer-container {
            padding: 40px 10px;
        }
        .footer-containet-left {
            width: 63%;
        }
        .footer-copyright {
            top: 71%;
            left: 22%;
        }
        .product-block:nth-child(4),
        .product-block:last-child {
            width: 270px;
        }
        .product-block,
        .product-block:nth-child(2),
        .product-block-search {
            width: 270px;
        }
        .product-block:nth-child(2) .cross-product {
            width: 250px;
        }
        .width992 {
            display: block;
        }
        .product-block_right,
        .product-block_left,
        .nohover {
            display: none;
        }
        .product-block:nth-child(4) .product-block-container,
        .product-block:nth-child(13) .product-block-container {
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            top: 0;
            margin-top: 0;
        }
    }
    
    @media (max-width: 768px) {
        .img-foot {
            top: 0;
            margin-top: 0;
            width: 74%;
        }
        .footwear-container {
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;
            height: 550px;
        }
        .footwear-description {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 10px;
        }
        .footwear-like {
            position: absolute;
            right: 7%;
            margin-top: 0;
        }
        .adFootwear-text {
            display: flex;
            flex-direction: column;
        }
        .model-img {
            width: 70px;
            height: 70px;
        }
        .adFootwearCont-text {
            display: flex;
            width: 230px;
            font-size: 30px;
            font-weight: 600;
            justify-content: space-between;
        }
        .adFootwear-brand,
        .adFootwear-name {
            height: 100%;
        }
        .footwear-img {
            float: none;
            width: auto;
            height: auto;
        }
        .container {
            width: 90%;
        }
        .header-container {
            width: 100%;
            margin-top: 50px;
        }
        .classic {
            height: 400px;
        }
        .classic-container {
            height: 100%;
        }
        .footwear-text,
        .header-menu,
        .header-container__left {
            display: none;
        }
        .header-container__right {
            display: block;
        }
        .burger {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 1;
        }
        .menu-icon {
            display: block;
            z-index: 50;
            transition: 0.5s ease-in-out;
        }
        .burger-container {
            background: white;
            width: 313px;
            height: 100%;
            top: 0;
            position: absolute;
            right: 0;
        }
        .img-social {
            width: 200px;
            height: 200px;
        }
        .social-container {
            height: 570px;
        }
        .logo {
            width: 35px;
            height: 35px;
        }
        .classic {
            z-index: -1;
            position: relative;
        }
        .sub-menu {
            z-index: 50;
            position: relative;
        }
        .cross {
            display: block;
            cursor: pointer;
        }
        .popup-container {
            width: 100%;
            float: none;
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .popup-information {
            width: 100%;
        }
    }
    
    @media (max-width: 576px) {
        .classic-container-text {
            width: 80%;
            height: auto;
            color: #fff;
            margin-left: 0;
        }
        .classic-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .story-container {
            background-image: none;
            padding: 0;
        }
        .story-container-title,
        .story-container-benefits {
            width: auto;
        }
        .story-container-left {
            float: none;
            width: 80%;
        }
        .story-container {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .story-title-text {
            font-size: 13px;
        }
        .story-story,
        .benefits {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .story-title {
            font-size: 21px;
        }
        .benefits-text {
            margin-bottom: 15px;
            font-size: 12px;
        }
        .story-title-text {
            margin-top: 10px;
        }
        .benefits-title {
            font-size: 16px;
        }
        .social {
            display: none;
        }
        .footer-container {
            padding: 20px 5px;
        }
        .footer-container-right {
            width: 60%;
        }
        .footer-containet-left {
            width: auto;
            height: auto;
        }
        .socials-icon {
            padding: 1px;
        }
        .footer-item {
            display: none;
        }
        .footer-suscribe {
            display: none;
        }
        .footer-copyright {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 12px;
            line-height: 25px;
            letter-spacing: 0.5px;
            position: relative;
            top: 0;
            left: 0;
            color: #666;
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            text-align: center;
        }
        .footer-container {
            height: auto;
        }
        .footer-logo .img-logo {
            width: 30px;
            height: 30px;
        }
        .popup-information {
            height: 510px;
        }
        .popup-cart {
            height: 400px;
        }
        .popup {
            overflow: scroll;
        }
        .header-container {
            margin-top: 50px;
        }
        .information-inp,
        .delivery-menu {
            width: 100%;
        }
        .two-inp {
            flex-direction: column;
            height: 80px;
        }
        .popup-information {
            height: 650px;
        }
        .popup-menu-country,
        .popup-menu-delivery,
        .country-sub-menu,
        .sub-menu-delivery {
            width: 98%;
        }
        .popup-menu-delivery {
            top: 627px;
        }
        .ship-pay {
            margin: 10px 0;
        }
        .privacy,
        .confirm {
            top: 0;
        }
    }
    
    @media (max-width: 490px) {
        .country-sub-menu,
        .sub-menu-delivery {
            width: 96%;
        }
    }